<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagen en FastAPI</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:#333
        }
        img {
            max-width: 200%; 
            max-height: 200%;
            border: 3px solid #333; 
        }
    </style>
</head>
<body>
    <img src="/static/bot_Qr.jpg" alt="Imagen">
</body>
</html>
